# ---- Node / Express ----
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env

# ---- Firebase ----
.firebase/
.firebaserc
.firebase-tools.json

# ---- Flutter / Dart ----
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_export_environment.sh

# ---- IDEs / Editors ----
.vscode/
.idea/
*.iml

# ---- Mac / Linux / Windows ----
.DS_Store
Thumbs.db
